node_modules
yarn.lock
yarn-error.log
lib
*.tsbuildinfo
legal_data_temp
maintained_documents/temp/
temp*
maintained_documents/*-scan/**
legal-config.json
uuri_unsorted.ttl
uuri.ttl
fuseki/run
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.lox
*.out
*.toc
*.gz
*.bcf
*.pyg
*.run.xml
*.pygtex
*.syntex
*.ipynb_checkpoints
_minted-thesis
